{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": true  }],
    ["@babel/plugin-proposal-unicode-property-regex", {"useUnicodeFlag": true}]]
}